{% extends 'base.html' %}
{% block title %}
Chat with Documents
{% endblock %}

{% block content %}
    <div class="text-center">
              <h1
                class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
              >
                Redact PII
              </h1>
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Replace PII with custom words
              </p>
              <section class="newsletter py-12 lg:py-20 text-center">
                <div
                  class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-xl"
                >
                  <form class="flex flex-wrap gap-1.5 lg:gap-2" method="POST" action="{{url_for('redact') }}" >
                    <div
                      class="basis-full min-w-0 max-w-full sm:grow sm:basis-0"
                    >
                      <!-- <input
                        id="query2"
                        name="query2"
                        data-validation-required-message="Cannot leave this blank."
                        class="appearance-none bg-white border border-gray-300 py-2 px-3 rounded-md text-[1em] leading-tight transition duration-200 outline-none placeholder:opacity-100 placeholder:text-gray-400 focus-within:border-indigo-700 w-full h-full"
                        aria-label="Content"
                        type="textarea"
                        placeholder="Paste content with PII here"
                        rows="10" 
                        cols="40" 
                      /> -->
                      <textarea class="form-control" id="query2"
                      name="query2" rows="20", cols="100" 
                      placeholder="Paste content with PII here" required></textarea>
                    </div>

                    <div
                      class="basis-full min-w-0 max-w-full sm:grow-0 sm:basis-[initial] sm:max-w-[initial]"
                    >
                      <button
                        type="submit"
                        class="bg-indigo-700 text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700 w-full h-full"
                      >
                        Ask Now
                      </button>
                    </div>
                  </form>

                  <!-- <p
                    role="alert"
                    class="bg-teal-600/20 text-sm lg:text-base p-2 lg:p-3 rounded mt-2 lg:mt-3"
                  >
                    <strong>Success!</strong> Please check your inbox for the
                    confirmation email.
                  </p> -->
                    
                  <br/><br/>
                <div class="text-left">
                    <p>
                    {{ redacted_text }}
                </p>
              </div>
                  <div class="mt-2 lg:mt-3">
                    <small class="text-xs text-gray-500"
                      >By subscribing you agree to our
                      <a class="text-gray-700" href="#0">privacy policy</a
                      >.</small>
                  </div>
                </div>
              </section>
            </div>
{% endblock %}
