{% extends 'base.html' %}
{% block title %}
Chat with Documents
{% endblock %}

{% block content %}



<div class="d-flex align-items-stretch vh-100">
  <div class="p-2 bg-dark-subtle sidebar" > 
    <div>
    <form class="row g-3" method="post" enctype="multipart/form-data">
                      


  <div class="col-auto">
    <div class="mb-3">
  <label for="formFile" class="form-label">Upload your PDF File</label>
  <input class="form-control" name="file" type="file" id="formFile">
</div></div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Upload File</button>
  </div>
</form>
    <p>File: {{ filename }}</p>
    </div>
  <div class="flex-fill bg-body-tertiary
">
    <div class="d-flex flex-column h-100 mb-3">
  <div class="p-2 mt-auto">
    
</div>
  <div class="p-2 mt-auto w-100 ">


 {% for history in session['history'] %}
                <p style="text-align: left;" class="bg-warning-subtle p-2>
                <span style="font-weight: bold;"> Query: </span>{{ history[0] }} 
                </p>
                <p style="text-align: left;" class="bg-success-subtle p-2">
                  <span style="font-weight: bold;">Answer:</span> {{ history[1] }}
                </p>
                {% endfor %}
 
  
<form class="bg-primary-subtle" action="{{url_for('chat') }}">
    <div class="d-flex">
  <div class="p-2 flex-grow-1"><label for="Question" class="visually-hidden">Question</label>
    <input type="text" class="form-control" id="Question"  type="text" id="query"
                        name="query"
                        placeholder="Enter your question here"></div>
  <div class="p-2"><button type="submit" class="btn btn-primary mb-1">
    
Ask </button></div>
  
</div>
 
</form></div>
</div>
</div>
</div>
{% endblock %}
