{% extends 'base.html' %}
{% block title %}
Chat with Documents
{% endblock %}

{% block content %}

<h6>Upload new File</h6>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <div>
        File: {{ filename }}
    </div>


    <form action="{{url_for('chat') }}">
        <label>Query</label>
        <input type="text" class="form-control" placeholder="Ask a question" id="query" name="query"  data-validation-required-message="Cannot leave this blank.">
        <input type=submit value=Ask>
      </form>

    <div>
        {% if session['query'] %}
        <p>Query: {{ session['query'] }}</p>
        {% endif %}
    </div>  
    <div>
      {% if session['answer'] %}
      <p>Response: {{ session['answer'] }}</p>
      {% endif %}
    </div>
{% endblock %}